 h1 {
  text-shadow: hoff voff blur #000;
  
}
.subheading {
  color:rgb(250, 128, 6)
}
body {
  background-color: rgb(249, 218, 161);
}
a:hover {
  text-decoration: underline;
}

.post-title {
  text-align: center;
  color: rgb(250, 128, 6);
}
.post-subtitle {
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
  color: #333;
}

hr {
  background-color: black;
  
}
.post-preview {
  margin-top: 6rem;
  margin-bottom: 12rem;
}
.post-title {
  margin-bottom: 4rem;
}
.first {
  margin-top: 3rem;
}

.id {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  display:block;
  width: 60%;
}
iframe {
max-width: 100%;
}
.contactinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactinfo h3 {
  margin: 3rem;
}
.contactinfo h3 {
  
  color: rgb(253, 163, 7);
}
.dogs {
  height: 20%;

}
.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;;

}
.espn {
  height: 8rem;
  width: 100%;
  background-color: orange;
  display: flex;
  align-items: center;
justify-content: center;
}